.horiz_menu {

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: baseline;
    background-image: linear-gradient(120deg, #000000 0%, #00704a 100%);
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 10px;

}

.horiz_menu img {

    height: auto;
    width: 50%;

}

.horiz_menu h4 {

    color: #79f147;

}

.horiz_menu a {

    font-weight: bold;
    text-decoration: none;

}

.horiz_menu a:hover {

    color: #faf9f6;
    text-decoration: underline;

}

.horiz_menu a:focus {

    color:#faf9f6;
    text-decoration: underline;

}

.horiz_menu a:active {

    color: #faf9f6;
    text-decoration: underline;

}

.horiz_nav {

  width: 100%;
  padding: 0;
  list-style: none;
  margin-left: 0;

  li {

    width: 100%;
    display: inline;
    padding: 0;
    margin-top: 2px;

    a {

      display: inline-block;
      padding: 6px 6px 6px 6px;
      background-color: transparent;
      color: $color-light;

      &:hover {

        background-color: $color-primary;

      }

      &:focus {

        background-color: $color-primary;

      }

    }

  }

  li.active {

    a {

      background-color: $color-primary;
      color: $color-light;

    }

  }

}