.section-team p, a, h1, h2, h3, h4 {
    margin: 0;
    padding: 0;
}

.section-team {
    font-family: "Poppins", sans-serif;
    padding: 20px 0;
    width: 100%;
}

.section-team .header-section {
    margin-bottom: 50px;
}

.section-team .header-section .small-title {
    margin-bottom: 25px;
    font-size: 16px;
    font-weight: 500;
    color: #3e64ff;
}

.section-team .header-section .title {
    font-weight: 700;
    font-size: 45px;
}

.section-team .single-person {
    margin-top: 30px;
    padding: 30px;
    background-color: #f6f9ff;
    border-radius: 5px;
    transition: all 1s;
    position: relative;
    overflow: hidden;
}

.section-team .single-person:hover {
    box-shadow: 0 5px 7px -1px rgba(51, 51, 51, 0.46);
}

.section-team .single-person::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, #016cec, #00b5f7);
    opacity: 0;
    transition: opacity 1s ease;
    z-index: 0;
    transition: all 1s;
}

.section-team .single-person:hover::before {
    opacity: 1;
}

.section-team .single-person > * {
    position: relative;
   z-index: 1;
}

.section-team .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.section-team .single-person:hover .person-image {
    padding: 12px;
    border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
    border-radius: 50%;
    object-fit: cover;
}

.section-team .single-person .person-image .icon {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
    background: none;
    background-color: #fff;
    color: #016cec;
}

.section-team .single-person .person-info .full-name {
    margin-bottom: 10px;
    font-size: 28px;
    font-weight: 700;
}

.section-team .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
    color: #fff;
}

.text-decoration-none {
    text-decoration: none !important;
}
