<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- ========== Title & DESCRIPTION ========== -->
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
    <link type="text/css" rel="stylesheet"
	  href="https://cdn.jsdelivr.net/lightgallery.js/1.0.0/css/lightgallery.min.css" /> 

    <!-- ========== STYLESHEETS ========== -->
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts Icon CSS -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <link href="/css/et-line.css" rel="stylesheet">
    <!-- Carousel CSS -->
    <link href="/css/slick.css" rel="stylesheet">
    <!-- Magnific-popup -->
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="/css/animate.min.css">
    <!-- Custom styles for this template -->
    <link href="{{ "/css/main.css" | relative_url }}" rel="stylesheet">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <!-- bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <!--slick carousel -->
    <script src="/assets/js/slick.min.js"></script>
    <!--Portfolio Filter-->
    <script src="/assets/js/imgloaded.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <!-- Magnific-popup -->
    <script src="/assets/js/jquery.magnific-popup.min.js"></script>
    <!--Counter-->
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <!-- WOW JS -->
    <script src="/assets/js/wow.min.js"></script>
    <!-- Custom js -->
    <script src="/assets/js/main.js"></script>	
    
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZDCGWZVEJL"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZDCGWZVEJL');
</script>


</head>
