{% comment %} TODO: Create horizontal menu {% endcomment %}

<div class = "horiz_menu">

    <a href="{{ '/' | relative_url }}">

        <img src="{{ '/assets/img/arcade-font-writer_2.png' | relative_url}}" alt="Soft-Eng Practicum">
    
    </a>

    <h4>

        <a href="{{ '/featured/' | relative_url }}">Featured</a>
        
    </h4>

    <h4>

        <a href="{{ '/news/' | relative_url }}">News</a>
        
    </h4>

    <h4>

        <a href="#">Demos</a>
        
    </h4>

    <h4>

        <a href="{{ '/about/' | relative_url }}">About</a>
        
    </h4>

</div>