{% assign all_tech = "" | split: "," %}

{% for p in site.projects %}
    {% if p.tech %}
        {% for t in p.tech %}
            {% assign tmp = t | downcase %}
            {% assign all_tech = all_tech | push: tmp %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% for col in site.collections %}
    {% if col.label contains "itec" %}
        {% for p in site[col.label] %}
            {% if p.tech %}
                {% for t in p.tech %}
                    {% assign tmp = t | downcase %}
                    {% assign all_tech = all_tech | push: tmp %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% assign unique_tech = all_tech | uniq %}

{% assign tech_count = "" | split: "," %}
{% for t in unique_tech %}
    {% assign count = 0 %}
    {% for k in all_tech %}
        {% if t == k %}
            {% assign count = count | plus: 1 %}
        {% endif %}
    {% endfor %}
    {% assign tmp = count %}
    {% assign tmp = tmp | append: "-" %}
    {% assign tmp = tmp | append: t %}
    {% assign tech_count = tech_count | push: tmp %}
{% endfor %}

{% assign tech_count = tech_count | sort | reverse %}

{% assign counts = "" | split: "," %}
{% for t in tech_count %}
    {% assign tmp = t | split: "-" %}
    {% assign count = tmp[0] %}
    {% assign count = count | minus: 0 %}
    {% assign counts = counts | push: count %}
{% endfor %}
{% assign counts = counts | uniq | sort | reverse | slice: 0, 3 %}

{% assign rank_1 = "" | split: "," %}
{% assign rank_2 = "" | split: "," %}
{% assign rank_3 = "" | split: "," %}
{% for t in tech_count %}
    {% assign tmp = t | split: "-" %}
    {% assign count = tmp[0] %}
    {% assign count = count | minus: 0 %}
    {% if count == counts[0] %}
        {% assign rank_1 = rank_1 | push: t %}
    {% elsif count == counts[1] %}
        {% assign rank_2 = rank_2 | push: t %}
    {% elsif count == counts[2] %}
        {% assign rank_3 = rank_3 | push: t %}
    {% endif %}
{% endfor %}

<div class="d-flex justify-content-center">
    {% for t in rank_1 %}
        {% assign tmp = t | split: "-" %}
        {% assign tech = tmp[1] | upcase %}
        <div class = "border border-warning rounded d-inline-flex align-items-center mb-3 mx-3">
            <i class="fa-solid fa-fire-flame-curved text-danger px-3"></i>
            <p class="pe-3">{{ tech }} ({{ tmp[0] }} total!)</p>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    {% for t in rank_2 %}
        {% assign tmp = t | split: "-" %}
        {% assign tech = tmp[1] | upcase %}
        <div class = "border border-success rounded d-inline-flex align-items-center mb-3 mx-3">
            <i class="fa-solid fa-medal text-success px-3"></i>
            <p class="pe-3">{{ tech }} ({{ tmp[0] }} total!)</p>
        </div>
    {% endfor %}
</div>
<div class="d-flex justify-content-center">
    {% for t in rank_3 %}
        {% assign tmp = t | split: "-" %}
        {% assign tech = tmp[1] | upcase %}
        <div class = "border border-primary rounded d-inline-flex align-items-center mb-3 mx-3">
            <i class="fa-solid fa-medal text-primary px-3"></i>
            <p class="pe-3">{{ tech }} ({{ tmp[0] }} total!)</p>
        </div>
    {% endfor %}
</div>
