<h3 style = "text-align: center; margin-bottom: 0px;">Read More</h3>
<hr style = "width: 15%;">
<br>

<div class ="home_grid" style = "align-items: flex-start;">

    <p>
        <div class = "ilb" style = "width: 100%;">
        <button class="ggc-btn-d dd-arrow" type="button"
            style = "width: 100%;"
            data-toggle="collapse"
            data-target="#pinned-accordion"
            aria-expanded="false"
            aria-controls="pinned-news">
            <span class = "text">
                Pinned
            </span>
        </button>
        </div>
    </p>
    <br>
    <div class="collapse"
        id="pinned-accordion"
        style = "width: 80%; margin: 0 auto;">

        {% assign all_posts = site.categories["Pinned"]
            | sort: "date", "first" | reverse %}
        {% assign sorted_posts = "" | split: "," %}
        {% assign sorted_modified = "" | split: "," %}

        {% for post in all_posts %}
            {% if post.last_modified %}
                {% assign testDate = site.time
                    | date: "%s" %}
                {% assign cutoff = testDate
                    | minus: 2592000 %}
                {% assign testPost = post.last_modified
                    | date: "%s" | minus: 0 %}
                {% if testPost >= cutoff %}
                    {% assign sorted_modified = sorted_modified
                        | push: post %}
                {% else %}
                    {% assign sorted_posts = sorted_posts
                        | push: post %}
                {% endif %}
            {% else %}
                {% assign sorted_posts = sorted_posts
                    | push: post %}
            {% endif %}
        {% endfor %}

        {% assign sorted_modified = sorted_modified
            | sort: "last_modified", "first" | reverse %}

        {% if sorted_posts.size > 0 or sorted_modified.size > 0 %}
            <div class="card card-body">
                <br>
            {% for post in sorted_modified %}
                {% if post.url %}
                    <a href = "{{ post.url }}"><span><span class = "badge bg-gradient mr-1">{{ post.last_modified | date_to_string: "ordinal", "US" }}</span><span class = "badge bg-primary ml-1 mr-2">Updated</span>{{ post.title }}</span></a>
                    <br>
                {% endif %}
            {% endfor %}
            {% for post in sorted_posts %}
                {% if post.url %}
                    <a href = "{{ post.url }}"><span><span class = "badge bg-gradient mr-2">{{ post.date | date_to_string: "ordinal", "US" }}</span>{{ post.title }}</span></a>
                    <br>
                {% endif %}
            {% endfor %}
            </div>
        {% endif %}
    </div>

    {% comment %}
        Alphabetize categories before displaying them
    {% endcomment %}

    {% assign cats = "" | split: "," %}
    {% for category in site.categories %}
        {% assign name = category | first %}
        {% assign cats = cats | push: name %}
    {% endfor %}
    {% assign cats = cats | sort %}
    {% for category in cats %}

        {% assign name = category %}
        {% if name != "Pinned" %}

            <hr style = "border: 0; border: 1px solid green; width: 15%; text-align: center; margin: 2% auto;">

            <p>
                <div class = "ilb" style = "width: 100%;">
                <button class = "ggc-btn-d dd-arrow" type="button"
                    style = "width: 100%;"
                    data-toggle = "collapse"
                    data-target = "#{{name | replace: ' ', '-'}}-accordion"
                    aria-expanded = "false"
                    aria-controls = "{{ name | replace: ' ', '-' }}-news">
                    <span class = "text">
                        {{ name }}
                    </span>
                </button>
                </div>
            </p>
            <br>
            <div class="collapse"
                id="{{ name | replace: ' ', '-' }}-accordion"
                style = "width: 80%; margin: 0 auto;">

                {% assign all_posts = site.categories[name]
                    | sort: "date", "first" | reverse %}
                {% assign sorted_posts = "" | split: "," %}
                {% assign sorted_modified = "" | split: "," %}

                {% for post in all_posts %}
                    {% if post.last_modified %}
                        {% assign testDate = site.time
                            | date: "%s" %}
                        {% assign cutoff = testDate
                            | minus: 2592000 %}
                        {% assign testPost = post.last_modified
                            | date: "%s" | minus: 0 %}
                        {% if testPost >= cutoff %}
                            {% assign sorted_modified = sorted_modified
                                | push: post %}
                        {% else %}
                            {% assign sorted_posts = sorted_posts
                                | push: post %}
                        {% endif %}
                    {% else %}
                        {% assign sorted_posts = sorted_posts
                            | push: post %}
                    {% endif %}
                {% endfor %}

                {% assign sorted_modified = sorted_modified
                    | sort: "last_modified", "first" | reverse %}

                {% if sorted_posts.size > 0 or sorted_modified.size > 0 %}
                    <div class="card card-body">
                        <br>
                    {% for post in sorted_modified %}
                        {% if post.url %}
                            <a href = "{{ post.url }}"><span><span class = "badge bg-gradient mr-1">{{ post.last_modified | date_to_string: "ordinal", "US" }}</span><span class = "badge bg-primary ml-1 mr-2">Updated</span>{{ post.title }}</span></a>
                            <br>
                        {% endif %}
                    {% endfor %}
                    {% for post in sorted_posts %}
                        {% if post.url %}
                            <a href = "{{ post.url }}"><span><span class = "badge bg-gradient mr-2">{{ post.date | date_to_string: "ordinal", "US" }}</span>{{ post.title }}</span></a>
                            <br>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
            </div>

        {% endif %}

    {% endfor %}
    <hr style = "border: 0; border: 1px solid green; width: 15%; text-align: center; margin: 2% auto;">

</div>
