{% comment %} TODO: Create horizontal menu {% endcomment %}

<div class = "horiz_menu">

    <a href="{{ '/' | relative_url }}">

        <img src="{{ '/assets/img/arcade-font-writer_2.png' | relative_url}}" alt="Soft-Eng Practicum">

    </a>

    <div>
        {% comment %} <ul  class="menu_nav"> {% endcomment %}
        <ul class = "horiz_nav">
            {% for project in page.projects %}
            <li><a class="post-link" href="#{{ project.name | url_encode }}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
    </div>

</div>
