<div class="menu_block" >
<div class="sidebar">
    <!--logo -->
    <div class="logo_box">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/img/arcade-font-writer_2.png' | relative_url}}" alt="Soft-Eng Practicum">
        </a>
    </div>
    <!--logo end-->

    <!--main menu -->
    <div class="side_menu_section">
        <ul class="menu_nav">
            <li class="{% if page.title == "Home" %} active {% endif %}">
                <a href="{{ '/' | relative_url }}">
                    Home
                </a>
            </li>
            <li class="{% if page.title == "Featured projects" %} active {% endif %}">
                <a href="{{ '/featured/' | relative_url }}">
                    Featured Projects
                </a>
            </li>
            <li class="{% if page.title == "News" %} active {% endif %}">
                <a href="{{ '/news/' | relative_url }}">
                    News
                </a>
            </li>
            <li class="{% if page.title == "About the Practicum Site" %} active {% endif %}">
                <a href="{{ '/about/' | relative_url }}">
                    About
                </a>
            </li>
        </ul>
    </div>
    <!--main menu end -->
