<div class="col-lg-2 col-md-3 col-12 menu_block" >
<div class="sidebar">
    <!--logo -->
    <div class="logo_box">
        <a href="{{site.baseurl}}">
            <img src="{{ site.baseurl }}assets/img/arcade-font-writer_2.png" alt="Soft-Eng Practicum">
        </a>
    </div>
    <!--logo end-->

    <!--main menu -->
    <div class="side_menu_section">
        <ul class="menu_nav">
            <li class="{% if page.title == "Home" %} active {% endif %}">
                <a href="{{ site.baseurl }}">
                    Home
                </a>
            </li>
            <li>
                <a href="">
                    Featured Projects
                </a>
            </li>
            <li>
                <a href="">
                    News
                </a>
            </li>
            <li class="{% if page.title == "About the Practicum Site" %} active {% endif %}">
                <a href="{{ 'about/' | prepend: site.baseurl }}">
                    About
                </a>
            </li>
        </ul>
    </div>
    <!--main menu end -->
