<div class="menu_block" >
<div class="sidebar">
    <!--logo -->
    <div class="logo_box">
        <a href="{{ '/' | relative_url }}">
            <img src="{{ '/assets/img/arcade-font-writer_2.png' | relative_url}}" alt="Soft-Eng Practicum">
        </a>
    </div>
    <!--logo end-->

    <!--main menu -->
    <div class="side_menu_section">
        <ul class="menu_nav">
            <li class="{% if page.title == "Home" %} active {% endif %}">
                <a href="{{ '/' | relative_url }}">
                    Home
                </a>
            </li>
            <div class="side_menu_scroll">
                <div  class="dropdown">
                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Classes
                    </button>
                    <div class="dropdown-menu">
                        {% assign collections_list = site.collections | sort: "date", "first" | reverse %}
                        {% for projects in collections_list %}
                        <a class="dropdown-item" href="{{ projects.label | relative_url }}">
                        {% if projects.menutitle %}{{ projects.menutitle }}
                        {% else %}{{ projects.title }}
                        {% endif %}</a>
                          {% endfor %}
                    </div>
                  </div>
            </div>
            <!-- <li class="{% if page.title == "Featured projects" %} active {% endif %}">
                <a href="{{ '/featured/' | relative_url }}">
                    Featured Projects
                </a>
            </li> -->
            <li class="{% if page.title == "News" %} active {% endif %}">
                <a href="{{ '/news/' | relative_url }}">
                    News
                </a>
            </li>
            <li class="{% if page.title == "About the Practicum Site" %} active {% endif %}">
                <a href="{{ '/about/' | relative_url }}">
                    About
                </a>
            </li>
            <li class="{% if page.title == "Students" %} active {% endif %}">
                <a href="{{ '/students/' | relative_url }}">
                    Students
                </a>
            </li>
            <li class="{% if page.title == "Faculty" %} active {% endif %}">
                <a href="{{ '/faculty/' | relative_url }}">
                    Faculty
                </a>
            </li>
            <li class="{% if page.title == "Technologies" %} active {% endif %}">
                <a href="{{ '/technologies/' | relative_url }}">
                    Technologies
                </a>
            </li>
        </ul>
    </div>
    <!--main menu end -->
