
{% include sidemenu_top.html %}

<!--filter menu -->
    <h4 class="side_title" style="font-weight:bold; position:fixed;">Events</h4>
    <div class="side_menu_section">
        <ul  class="menu_nav">
	  {% assign collections_list = site.collections | sort: "date", "first" | reverse %}
          {% for projects in collections_list %}
            <li><a class="post-link" href="{{ projects.label | prepend: site.baseurl }}">{{ projects.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <!--filter menu end -->

{% include sidemenu_bottom.html %}
