<div class="col-lg-2 col-md-3 col-12 menu_block" >
<div class="sidebar">
    <!--logo -->
    <div class="logo_box">
        <a href="{{site.url}}">
            <img src="../assets/img/arcade-font-writer_2.png" alt="Gunay's Practicum">
        </a>
    </div>
    <!--logo end-->

    <!--main menu -->
    <div class="side_menu_section">
        <ul class="menu_nav">
            <li class="active">
                <a href="">
                    Home
                </a>
            </li>
            <li>
                <a href="">
                    Featured Projects
                </a>
            </li>
            <li>
                <a href="">
                    News
                </a>
            </li>
            <li>
                <a href="">
                    About
                </a>
            </li>
        </ul>
    </div>
    <!--main menu end -->
    <!--filter menu -->
    <div class="side_menu_section">
        <a href=""><h4 class="side_title" style="font-weight:bold; position:fixed; ">Projects</h4> </a>
        <ul  class="menu_nav">
            <li ><a href="javascript:void(0)" >2018</a></li>
            <li ><a href="javascript:void(0)">2017</a></li>
            <li ><a href="javascript:void(0)">2016</a></li>
            <li ><a href="javascript:void(0)" >2018</a></li>
            <li ><a href="javascript:void(0)">2017</a></li>
            <li ><a href="javascript:void(0)">2016</a></li>
            <li ><a href="javascript:void(0)" >2018</a></li>
            <li ><a href="javascript:void(0)">2017</a></li>
            <li ><a href="javascript:void(0)">2016</a></li>
        </ul>
    </div>
    <!--filter menu end -->
    <!--social and copyright -->
    <div class="side_menu_bottom">
        <div class="side_menu_bottom_inner">
            <div class="copy_right">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                <p class="copyright">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </div>
        </div>
    </div>
    <!--social and copyright end -->
</div>
</div>