// ----------------------------------------------------------------------
//colors
// ----------------------------------------------------------------------
$color-primary:#99896e;
$color-gray:#f4f8fc;
$color-dark-gray:#9c9ca9;
$color-dark:#333333;
$color-black:#18181c;
$color-light:#ffffff;
$color-green:#6cc47f;
$color-blue:#0652fd;
$color-red:#f97794;
$color-darker-red: #bd4147;
$color-orange:#f79257;
$color-yellow:#ffbf00;
$color-purple:#926cc4;
$color-leaf: #7DBE29;
$color-ggc-green: #00704A;
$color-light-brown: #b0aa90;

// ----------------------------------------------------------------------
//fonts
// ----------------------------------------------------------------------
$font: 'Montserrat', sans-serif;





// ----------------------------------------------------------------------
//mix in
// ----------------------------------------------------------------------
@mixin background-opacity($color, $opacity: 0.4) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
// ----------------------------------------------------------------------
// Transitions
// example: @include single-transition(background, 1s, ease-in-out);
// ----------------------------------------------------------------------
@mixin single-transition($property, $duration, $timing-function) {
  -webkit-transition: $property $duration $timing-function;
  -moz-transition: $property $duration $timing-function;
  -o-transition: $property $duration $timing-function;
  transition: $property $duration $timing-function;
}

// ----------------------------------------------------------------------
// Linear Gradients
// example: @include linearGradient(#cccccc, #333333);
// ----------------------------------------------------------------------
@mixin linearGradient($top, $bottom) {
  background: #{$top};
  background:   -moz-linear-gradient(left, #{$top} 0%, #{$bottom} 100%);
  background:   -webkit-gradient(linear, left top, right top, color-stop(0%, #{$top}), color-stop(100%, #{$bottom}));
  background:   -webkit-linear-gradient(left, #{$top} 0%, #{$bottom} 100%);
  background:   -o-linear-gradient(left, #{$top} 0%, #{$bottom} 100%);
  background:   -ms-linear-gradient(left, #{$top} 0%, #{$bottom} 100%);
  background:   linear-gradient(to right, #{$top} 0%, #{$bottom} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 );
}
// ----------------------------------------------------------------------
// Linear Gradient angle
// example: @include linear-gradient(-10, #cccccc, #333333);
// ----------------------------------------------------------------------
@mixin linear-gradient($angle, $colorStart, $colorStop){
  background: #{$colorStart};
  background: -webkit-linear-gradient($angle,  #{$colorStart} 0%,#{$colorStop} 100%);
  background:    -moz-linear-gradient($angle,  #{$colorStart} 0%,#{$colorStop} 100%);
  background:      -o-linear-gradient($angle,  #{$colorStart} 0%,#{$colorStop} 100%);
  background:     -ms-linear-gradient($angle,  #{$colorStart} 0%,#{$colorStop} 100%);
  background:         linear-gradient(to $angle,  #{$colorStart} 0%,#{$colorStop} 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$colorStart}', endColorstr='#{$colorStop}',GradientType=1 );
}

// ----------------------------------------------------------------------
// Box Shadow
// example: @include box-shadow(1px, 2px, 2px, 2px, #000);
// ----------------------------------------------------------------------
@mixin box-shadow($hoff: false, $voff: false, $blur: false, $spread: false, $color: false){
  -webkit-box-shadow: $hoff $voff $blur $spread $color;
  -moz-box-shadow: $hoff $voff $blur $spread $color;
  box-shadow: $hoff $voff $blur $spread $color;
}

// Jekyll variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop: 800px;

// Using media queries with like this:
// @include media-query($palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
    .home-2col {
	width: 45%;
	max-width: ( $device - $spacing-unit ) / 2;
	float: left;
	padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
    .logo-thumb {
        clear: left;
	float: left;
	padding-right: 10pt;
	padding-bottom: 10pt;
    }
    .project-title {
	clear: left;
	@extend .post-title;
    }
    .create-images {
	float: left;
	width: 45%;
	padding-right: $spacing-unit / 2;
	padding-bottom: $spacing-unit / 2;
    }
    .project-video {
	clear: left;
    }
    hr.project-sep {
	clear: left;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-top: 1px solid #8c8b8b;
	border-bottom: 1px solid #fff;
	//border-top: 1px dashed #8c8b8b;
	//border-bottom: 1px dashed #fff;
	margin-bottom: 20px;
    }
    b.project-tech {
	font-weight: 700;
    }
    .project-toc {
	clear: left;
    }
}
