<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="body-container container-fluid">
  <a class="menu-btn" href="javascript:void(0)">
    <i class="ion ion-grid"></i>
  </a>
  <div class="row justify-content-center">
    <!--=================== side menu ====================-->

    {% include sidemenu.html %}

    <!--=================== side menu end====================-->

    <!--=================== content body ====================-->
    <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
      <div class="portfolio">
        <div class="container-fluid">
              <!--=================== Home Section ====================-->
              <div class="page_content">
                    {{content}}
              </div>
	      {% include footer.html %}
        </div>
      </div>
    </div>
    <!--=================== content body end ====================-->
  </div>
</div>

</body>
</html>
