---
layout: default
---

    <div class="row justify-content-center">
        <!--<div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">-->
        <div class="align-content-center">
            <div class="portfolio">
                <div class="container-fluid">
                    <!--=================== Home Section ====================-->
                    <div class="page_content">

                      {{content}}

                    </div>
                    {% include footer.html %}
                </div>
            </div>
        </div>
        <!--=================== content body end ====================-->
    </div>

