<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="body-container container-fluid">
  <a class="menu-btn" href="javascript:void(0)">
    <i class="ion ion-grid"></i>
  </a>
  <div class="row justify-content-center">
    <!--=================== side menu ====================-->

    {% include sidemenu.html %}

    <!--=================== side menu end====================-->

    <!--=================== content body ====================-->
    <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
      <div class="portfolio">
        <div class="container-fluid">
            <div class="grid">
              <!--=================== Page Title ====================-->
              <div class="title">
                <h2>{{site.title}}</h2>
                <h4>{{site.tagline}}</h4>
              </div>

              <!--=================== Project Demo Gallery ====================-->
              <div class="project_demo">
                <h2>Project Demo</h2>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_fjords.jpg">
                      <img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>


                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_forest.jpg">
                      <img src="img_forest.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_lights.jpg">
                      <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_mountains.jpg">
                      <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>

              <!--=================== Featured Project Gallery ====================-->
              <div class="featured_project">
                <h2>Featured Projects</h2>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_fjords.jpg">
                      <img src="img_fjords.jpg" alt="Trolltunga Norway" width="300" height="200">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>


                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_forest.jpg">
                      <img src="img_forest.jpg" alt="Forest" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_lights.jpg">
                      <img src="img_lights.jpg" alt="Northern Lights" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="responsive">
                  <div class="gallery">
                    <a target="_blank" href="img_mountains.jpg">
                      <img src="img_mountains.jpg" alt="Mountains" width="600" height="400">
                    </a>
                    <div class="desc">Add a description of the image here</div>
                  </div>
                </div>

                <div class="clearfix"></div>
              </div>
            </div>
        </div>
      </div>
    </div>
    <!--=================== content body end ====================-->
  </div>
</div>


<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="assets/js/imgloaded.js"></script>
<script src="assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
</body>
</html>