<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

<div class="body-container container-fluid">
  <a class="menu-btn" href="javascript:void(0)">
    <i class="ion ion-grid"></i>
  </a>
  <div class="row justify-content-center">
    <!--=================== side menu ====================-->

    {% include sidemenu.html %}

    <!--=================== side menu end====================-->

    <!--=================== content body ====================-->
    <div class="col-lg-10 col-md-9 col-12 body_block  align-content-center">
      <div class="portfolio">
        <div class="container-fluid">
            <div class="grid">
              <!--=================== Page Title ====================-->
              <div class="title">
                <h2>{{site.title}}</h2>
                <h4>{{site.tagline}}</h4>
              </div>

              <!--=================== Carousel begins ====================-->
              <div class="home_carousel">
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <a href=""><img class="d-block w-100 h-25" src="../assets/img/image_1.jpg" alt="First slide"> </a>
                    </div>
                    <div class="carousel-item">
                      <a href=""><img class="d-block w-100 h-25" src="../assets/img/image_2.jpg"alt="Second slide"></a>
                    </div>
                    <div class="carousel-item">
                      <a href=""><img class="d-block w-100 h-25" src="../assets/img/image_3.jpg" alt="Third slide"></a>
                    </div>
                  </div>
                  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
              <!--=================== Carousel Ends ====================-->
            </div>
        </div>
      </div>
    </div>
    <!--=================== content body end ====================-->
  </div>
</div>


<!-- jquery -->
<script src="assets/js/jquery.min.js"></script>
<!-- bootstrap -->
<script src="assets/js/popper.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/waypoints.min.js"></script>
<!--slick carousel -->
<script src="assets/js/slick.min.js"></script>
<!--Portfolio Filter-->
<script src="assets/js/imgloaded.js"></script>
<script src="assets/js/isotope.js"></script>
<!-- Magnific-popup -->
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<!--Counter-->
<script src="assets/js/jquery.counterup.min.js"></script>
<!-- WOW JS -->
<script src="assets/js/wow.min.js"></script>
<!-- Custom js -->
<script src="assets/js/main.js"></script>
</body>
</html>