---
layout: default_menu
---
<!--=================== Page Title ====================-->
<div class="title">
    <h2>{{site.title}}</h2>
    <h4>{{site.tagline}}</h4>
</div>

{{content}}

<div class ="home_grid">

<div class="project_demo">
  <h3>Soft Dev 2 Course Project Demos</h3>

  <ul class="post-list sd2_demos_grid">
    {% assign collections_list = site.collections | sort: "date", "first" | reverse %}
    {% for projects in collections_list %}
      <li>
        <a class="post-link" href="{{ projects.label | relative_url }}">{{ projects.menutitle }}</a>
      </li>
    {% endfor %}
  </ul>
</div>

<div class = "post">
    <h3>Other Posts</h3>
    
{% for category in site.categories %}
    <h4>&nbsp;&nbsp;{{category | first}}</h4>
        <ul class="post-list">
          {% for posts in category %}
            {% assign posts_sorted = posts | sort: "date", "first" | reverse %}
            {% for post in posts_sorted %}
              {% if post.url %}
              <li class="post-link"><a href="{{post.url}}">{{post.title}}</a> - <i>
                {%- if post.last_modified_at -%}
                  {{ post.last_modified_at | date_to_string: "ordinal", "US" }} (updated)
                {%- else -%}
                  {{ post.date | date_to_string: "ordinal", "US" }}
                {%- endif -%}
              </i></li>
              {% endif %}
            {% endfor %}
        {% endfor %}
        </ul>
{% endfor %}    

    </div>
</div>
