---
layout: default
---
<div class="justify-content-center">

    <div class = "row justify-content-center">

        <div class="col-lg-10 col-md-9 col-12 body_block align-content-center mx-auto">

            <div class="title">

                <h2>{{site.title}}</h2>
                <h4>{{site.tagline}}</h4>

            </div>

            {{content}}

            <section id = "meet_professors">

                <h3 class = "mb-5">Meet our Professors!</h3>

                <div id = "professors">

                    <div class = "professor">

                        <a href="/partners/Anca_Doloc_Mihu.html" class = "text-decoration-none">
                            <span class = "badge rounded-pill bg-gradient px-3 h4 mb-4 fw-normal">Dr. Anca Doloc-Mihu</span>
                        </a>

                        <img src = "/assets/img/portfolio/adolocmihu.jpg" alt = "Dr. Anca Doloc-Mihu">

                        <p class = "description">Co-Principal Administrator, Associate Professor of Information Technology</p>

                        <p class = "tiny-link">
                            <a href="https://www.ggc.edu/directory/anca-doloc-mihu" target = "_blank">View on ggc.edu</a>
                        </p>

                    </div>

                    <div class = "professor">

                        <a href="/partners/Cengiz_Gunay.html" class = "text-decoration-none">
                            <span class = "badge rounded-pill bg-gradient px-3 h4 mb-4 fw-normal">Dr. Cengiz Gunay</span>
                        </a>

                        <img src = "/assets/img/portfolio/cgunay.jpeg" alt = "Dr. Cengiz Gunay">

                        <p class = "description">Principal Administrator, Associate Professor of Information Technology</p>

                        <p class = "tiny-link">
                            <a href="https://www.ggc.edu/directory/cengiz-gunay" target = "_blank">View on ggc.edu</a>
                        </p>

                    </div>

                </div>

              <hr class = "w-80 mx-auto">

            </section>

            {% include project_search_widget.html %}

            {% include news_bulletin.html %}

        </div>

        {% include footer.html %}

    </div>

</div>
