---
layout: default
---
{%include projects_sidemenu.html%}

<h1 class="post-title" style="text-align: center">{{ page.title }}</h1>

{{ content }}

{% if page.photos %}
<h2>Event Photos</h2>

  <div class="project_pictures">
    <div id="slideshow">
      {% for project in page.photos %}
      <div class="pictures">
        <a  id="lightgallery" href="images/{{ project }}">
          <img src="images/{{ project }}">
        </a>
      </div>

      {% endfor %}
    </div>
  </div>
{% endif %}

{% for project in page.projects %}

<h2 class="project-title">
  <a id="{{ project.name | cgi_escape }}"
     href="{{project.demo-url}}"
     target="_blank">
    {{ project.name }} - {{ project.title }}</a></h2>

<div>
    <a id="lightgallery" href="{{ project.logo-full }}">
        <img class="logo-thumb" src="{{ project.logo-thumb }}">
    </a>
</div>

<p> Developed by <em>{{ project.members }}</em><br>
    Lead by <em>
        {% if project.client-url %}
        <a href="{{ project.client-url }}" target="_blank">{{
            project.client }}</a>
        {% else %}
        {{ project.client | markdownify }}
        {% endif %}
    </em>

<p> {{ project.description | markdownify  }}</p>

{% if project.tech %}
<p> <b class="project-tech">Technology:</b> {{ project.tech | join: "; " }}</p>
{% endif %}

<div class="project-links">

    <p>
        {% if project.demo-url %}
        <em><a href="{{ project.demo-url }}" target="_blank">
            <button type="button" class="btn btn-rounded btn-sm btn-dark">Demo site</button></a></em>
        {% endif %}

        <em><a href="{{ project.repo-url }}" target="_blank">
            <button type="button" class="btn btn-rounded btn-sm btn-primary">Source code</button></a></em>
    </p>

    {% if project.screencast-youtube %}
    <div class="project-video">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ project.screencast-youtube }}"
                frameborder="0" allowfullscreen></iframe>
    </div>
    {% endif %}
    {% if project.screencast-vimeo %}
    <div class="project-video">
      <iframe src="https://player.vimeo.com/video/{{ project.screencast-vimeo }}"
	      width="640" height="360"
              frameborder="0" webkitallowfullscreen mozallowfullscreen
	      allowfullscreen></iframe>
    </div>
    {% endif %}

    {% if project.screencast-streamable %}
    <div style="width: 640; height: 0px; position: relative; padding-bottom: 54.265%;"><iframe src="https://streamable.com/{{ project.screencast-streamable }}" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;"></iframe></div>
    {% endif %}

    <hr class="project-sep">

    {% endfor %}

</div>

  <!-- lightgallery -->
  <script src="https://cdn.jsdelivr.net/lightgallery/1.3.7/js/lightgallery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/g/lg-zoom"></script>

  <script type="text/javascript">
    $(document).ready(function() {      
      // Slideshow setup
      $("#slideshow > div:gt(0)").hide();

      setInterval(function() {
        $('#slideshow > div:first')
          .fadeOut(1000)
          .next()
          .fadeIn(1000)
          .end()
          .appendTo('#slideshow');
      }, 3000);

      // LightGallery
      $("body").lightGallery({
	zoom: true,
	selector: 'a#lightgallery',
	selectWithin: 'body'
      });
    });
  </script>
