---
layout: default
---
{% assign interns = "" | split: "," %}
{% for s in site.students %}
    {% if page.student_ids contains s.student_id %}
        {% assign interns = interns | push: s %}
    {% endif %}
{% endfor %}

{% assign all_projects = "" | split: "," %}
{% for col in site.collections %}
    {% if col.label contains "itec" %}
        {% for proj in site[col.label] %}
            {% if proj.project_key contains page.project_key %}
                {% assign all_projects = all_projects
                    | push: proj %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}
{% if page.project_key %}
    {% assign tmp = site.projects
        | where: "sponsor_key", page.sponsor_key %}
    {% for p in tmp %}
        {% assign all_projects = all_projects | push: p %}
    {% endfor %}
{% endif %}

{% assign sp_projects = "" | split: "," %}
{% assign fa_projects = "" | split: "," %}

{% for p in all_projects %}
    {% if p.semester_key contains "sp" %}
        {% assign sp_projects = sp_projects | push: p %}
    {% else %}
        {% assign fa_projects = fa_projects | push: p %}
    {% endif %}
{% endfor %}
{% assign sp_projects = sp_projects | sort: "semester_key" %}
{% assign fa_projects = fa_projects | sort: "semester_key" %}

{% assign years = "" | split: "," %}

{% for p in all_projects %}
    {% assign year = p.semester_key %}
    {% assign year = year | slice: -2, 2 %}
    {% assign year = year | minus: 0 %}
    {% assign years = years | push: year %}
{% endfor %}
{% assign years = years | uniq | sort %}

{% assign timeline = "" | split: "," %}
{% for y in years %}
    {% for s in sp_projects %}
        {% assign year = s.semester_key %}
        {% assign year = year | slice: -2, 2 %}
        {% assign year = year | minus: 0 %}
        {% if year == y %}
            {% assign timeline = timeline | push: s %}
        {% endif %}
    {% endfor %}
    {% for f in fa_projects %}
        {% assign year = f.semester_key %}
        {% assign year = year | slice: -2, 2 %}
        {% assign year = year | minus: 0 %}
        {% if year == y %}
            {% assign timeline = timeline | push: f %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% assign timeline = timeline | reverse %}

<div class="justify-content-center">

    <div class="col-lg-10 col-md-9 col-12 body_block align-content-center mx-auto">

        <div class = "pp-header">
            <h1 class = "pp-h1">{{ page.title }}
                {% if page.phrase %}
                    <span>{{ page.phrase }}</span>
                {% endif %}
            </h1>
            {% comment %}
            {{ timeline | inspect }}
            {% endcomment %}
        </div>

        {% if page.photos %}
            <h2 class = "pp-align">The {{ page.title }} Development Process</h2>

            <br>
            <div class="project_pictures pp-mobile-pp">
                <div id="slideshow">
                    {% for photo in page.photos %}
                        <div class="pictures">
                            <a id="lightgallery" href="../images/{{ photo }}">
                                <img src="../images/{{ photo }}">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}

        <div class="project-links button-container pp-button-container">

            {% if page.demo-url %}
                <div class = "ilb">
                    <button class="ggc-btn-d" role="button" onclick = "window.open('{{ page.demo-url }}', '_blank')">
                        <span class="text">Demo Site</span>
                    </button>
                </div>

            {% endif %}

            <div class = "ilb">
                <button class="ggc-btn-d" role="button" onclick = "window.open('{{ page.repo-url }}', '_blank')">
                    <span class="text">Source Code</span>
                </button>
            </div>

        </div>

        <section class = "basic-bio">

            <div>
                <a id="lightgallery" href="../images/{{ page.logo-full }}">
                    <img class="logo-thumb" src="../images/{{ page.logo-thumb }}">
                </a>
            </div>

        </section>

        {% if page.members and interns.size == 0 %}
            <p>Developed by <em>{{ page.members }}</em><br>
        {% else %}
            {% comment %}
                Only print "Developed by" if there is at least 1 student
                associated with the project.
            {% endcomment %}
            {% if interns.size == 1 %}
                {% if page.cohort.size > 0 %}
                    <p>Developed by <em><a href = "#cohort-section">{{ page.cohort }}:</a>&nbsp;&nbsp;<a href = "{{ interns[0].url }}">{{ interns[0].title }}</a></em></p>
                {% else %}
                    <p>Developed by <em><a href = "{{ interns[0].url }}">{{ interns[0].title }}</a></em></p>
                {% endif %}
            {% elsif interns.size > 1 %}
                {% assign max = interns.size | minus: 1 %}
                {% assign count = 0 %}
                {% unless page.cohort.size > 0 %}
                <p>Developed by&nbsp;
                    {% for i in interns %}
                        {% if count < max %}
                            <em>
                                <a href = "{{ i.url }}">
                                    {{ i.title }}</a>,&nbsp;
                            </em>
                            {% assign count = count | plus: 1 %}
                        {% else %}
                            <em>
                                <a href = "{{ i.url }}">
                                    {{ i.title }}
                                </a>
                            </em>
                        {% endif %}
                    {% endfor %}
                </p>
                {% else %}
                    <p>Developed by <em><a href = "#cohort-section">{{ page.cohort }}:</a>&nbsp;</em>
                    {% for i in interns %}
                        {% if count < max %}
                            <em>
                                <a href = "{{ i.url }}">
                                    {{ i.title }}</a>,&nbsp;
                            </em>
                            {% assign count = count | plus: 1 %}
                        {% else %}
                            <em>
                                <a href = "{{ i.url }}">
                                    {{ i.title }}
                                </a>
                            </em>
                        {% endif %}
                    {% endfor %}
                    </p>
                {% endunless %}
            {% endif %}
        {% endif %}

        {% if page.client-url %}
            {% if page.sponsor_key %}
                {% assign client = "" | split: "," %}
                {% assign tmp = site.partners
                    | where: "sponsor_type", "Client" %}
                {% for key in page.sponsor_key %}
                    {% for c in tmp %}
                        {% if c.sponsor_key == key %}
                            {% assign client = client | push: c %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if client.size > 0 %}
                    {% assign count = 0 %}
                    {% assign max = client.size | minus: 1 %}
                    {% if client.size == 1 %}
                        <p>Directed by client&nbsp;
                    {% elsif client.size > 1 %}
                        <p>Directed by clients&nbsp;
                    {% endif %}
                    {% for c in client %}
                        {% if count != max %}
                            <em>
                                <a href="{{ c.url }}">
                                    {{ c.title }}</a>,&nbsp;
                            </em>
                            {% assign count = count | plus: 1 %}
                        {% else %}
                            <em>
                                <a href="{{ c.url }}">
                                    {{ c.title }}
                                </a>
                            </em>
                        {% endif %}
                    {% endfor %}
                        </p>
                {% else %}
                    <p>
                    Directed by client <em>

                        <a href="{{ page.client-url }}" target="_blank">

                            {{ page.client }}

                        </a>

                    </em>
                    </p>
                {% endif %}
            {% endif %}
        {% else %}
            {% if page.sponsor_key %}
                {% assign client = "" | split: "," %}
                {% assign tmp = site.partners
                    | where: "sponsor_type", "Client" %}
                {% for key in page.sponsor_key %}
                    {% for c in tmp %}
                        {% if c.sponsor_key == key %}
                            {% assign client = client | push: c %}
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if client.size > 0 %}
                    {% assign count = 0 %}
                    {% assign max = client.size | minus: 1 %}
                    {% if client.size == 1 %}
                        <p>Directed by client&nbsp;
                    {% elsif client.size > 1 %}
                        <p>Directed by clients&nbsp;
                    {% endif %}
                    {% for c in client %}
                        {% if count != max %}
                            <em>
                                <a href="{{ c.url }}">
                                    {{ c.title }}
                                </a>,&nbsp;
                            </em>
                            {% assign count = count | plus: 1 %}
                        {% else %}
                            <em>
                                <a href="{{ c.url }}">
                                    {{ c.title }}
                                </a>
                            </em>
                        {% endif %}
                    {% endfor %}
                        </p>
                {% else %}
                    <p>
                    Directed by client <em>

                        <a href="{{ page.client-url }}" target="_blank">

                            {{ page.client }}

                        </a>

                    </em>
                    </p>
                {% endif %}
            {% else %}
                {{ "Directed by client _" | append: page.client | append: "_" | markdownify }}
            {% endif %}
        {% endif %}

        {% if page.sponsor_key %}
            {% assign related_sponsors = "" | split: "," %}
            {% for s in site.partners %}
                {% for key in page.sponsor_key %}
                    {% if s.sponsor_key == key %}
                        {% assign related_sponsors = related_sponsors
                            | push: s %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if related_sponsors.size > 0 %}
                {% assign names = "" %}
                {% assign count = 0 %}
                {% assign max = related_sponsors.size | minus: 1 %}
                <p>In partnership with&nbsp;
                    {% for s in related_sponsors %}
                        {% if count < max %}
                            <em>
                                <a href="{{ s.url }}">
                                    {{ s.title }}</a>,&nbsp;
                            </em>
                            {% assign count = count | plus: 1 %}
                        {% else %}
                            <em>
                                <a href="{{ s.url }}">
                                    {{ s.title }}
                                </a>
                            </em>
                        {% endif %}
                    {% endfor %}
                </p>
            {% endif %}
        {% else %}
            {% assign prof = site.profs[page.prof] %}
            <p>In the course of professor 

                <em>

                    <a href="{{ prof.url }}" target="_blank">
                        {{ prof.name }}
                    </a>

                </em>

            </p>
        {% endif %}

        <p><b class = "project-tech">About this project:</b> {{ page.description }}</p>

        {% if page.tech %}

            <p>

                <b class="project-tech">Technologies:</b> {{ page.tech | join: "; " }}

            </p>

        {% endif %}

        {% if page.screencast-youtube %}
            <div class="project-video m-0-auto">

                <iframe width="100%" height="100%" src="https://www.youtube.com/embed/{{ page.screencast-youtube }}" frameborder="0" allowfullscreen>

                </iframe>

            </div>
        {% endif %}

        {% if page.screencast-vimeo %}
            <div class="project-video m-0-auto">

                <iframe src="https://player.vimeo.com/video/{{ page.screencast-vimeo }}" width="100%" height="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>

                </iframe>

            </div>
        {% endif %}

        {% if page.screencast-streamable %}
            <div style="width: 640; height: 0px; position: relative; padding-bottom: 54.265%;" class = "m-0-auto">

                <iframe src="https://streamable.com/{{ page.screencast-streamable }}" frameborder="0" width="100%" height="100%" allowfullscreen style="width: 100%; height: 100%; position: absolute;">

                </iframe>

            </div>
        {% endif %}


        {% assign page_content = page.content | strip_newlines | strip %}
        {% assign not_blank = false %}
        {% if page_content != "" and page_content != nil %}
            {% assign not_blank = true %}
        {% endif %}
        {% if not_blank %}
            <div class = "pp-content-wrapper">
                {{ content }}
            </div>
        {% endif %}

    </div>


    {% if page.project_key %}

        <section class="section-team" id = "cohort-section">

            <div class="container">

                <!-- Start Header Section -->

                <div class="row justify-content-center text-center">

                    <div class="col-md-8 col-lg-6">

                        <div class="header-section">

                            <h3 class="small-title">Our Experts</h3>
                            {% if page.cohort.size > 0 %}
                                <h2 class="title">Meet the {{ page.cohort }} team!</h2>
                            {% else %}
                                <h2 class="title">Meet the {{ page.title }} team!</h2>
                            {% endif %}

                        </div>

                    </div>

                </div>

                <!-- / End Header Section -->

                <div class="row justify-content-center">

                    {% assign related_students = interns %}
                    {% if related_students.size > 0 %}

                        {% for s in related_students %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <a href = "{{s.url}}" class = "text-decoration-none d-block">
                                <div>
                                    <div class="single-person">
                                        <div class="person-image">
                                            {% if s.logo.size > 4 %}
                                                <img src="/assets/img/students/{{ s.logo }}"
                                                    alt="{{ s.title }}">
                                            {% else %}
                                                <img src="/assets/img/students/defaultProfile.jpg"
                                                    alt="{{ s.title }}">
                                            {% endif %}
                                            <span class="icon">
                                                <i class="fa fa-code"></i>
                                            </span>
                                        </div>
                                        <div class="person-info">
                                            <h3 class="full-name">{{ s.title }}</h3>
                                            <span class="speciality">{{ s.project_role }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        {% endfor %}

                    {% endif %}

                </div>

            </div>

        </section>

    {% endif %}

    <br>

    {% if page.sponsor_key %}

        {% assign partners = "" | split: "," %}
        {% for key in page.sponsor_key %}
            {% assign tmp = site.partners
                | where: "sponsor_key", key %}
            {% for p in tmp %}
                {% assign partners = partners
                    | push: p %}
            {% endfor %}
        {% endfor %}

        <section class="section-team" id = "partner-cards">
            <!-- Start Header Section -->
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header-section">
                        <h3 class="small-title">And a special thanks to...</h3>
                        {% if partners.size > 1 %}
                            <h2 class="title">Our Partners!</h2>
                        {% else %}
                            <h2 class="title">Our Partner!</h2>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- End Header Section -->

            {% if partners.size > 0 %}
                <div class = "container">
                    <div class = "row justify-content-center">
                    {% for e in partners %}
                        <div class="col-sm-6 col-lg-4 col-xl-3">
                            <a href = "{{e.url}}" class = "text-decoration-none d-block">
                                <div>
                                    <div class="single-person">
                                        <div class="person-image">
                                            {% if e.logo.size > 4 %}
                                                <img src="/assets/img/partners/{{ e.logo }}"
                                                    alt="{{ e.title }}">
                                            {% else %}
                                                <img src="/assets/img/partners/GGC.jpg"
                                                    alt="{{ e.title }}">
                                            {% endif %}
                                            <span class="icon">
                                                <i class="fa fa-code"></i>
                                            </span>
                                        </div>
                                        <div class="person-info">
                                            <h3 class="full-name">{{ e.title }}</h3>
                                            <span class="speciality">{{ e.sponsor_type }}</span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <br>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
        </section>
    {% endif %}

    {% if timeline.size > 1 %}
        <section class="section-team mt-5">
            <div class="row justify-content-center text-center">
                <div class="col-md-8 col-lg-6">
                    <div class="header-section">
                        <h3 class="small-title">See {{ page.title }}'s development history...</h3>
                        {% assign tmp = timeline | group_by: "semester_key" %}
                        <h2 class="title">Over {{ tmp.size }} semesters!</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container py-5">
            <div class="main-project-timeline text-white">
                {% assign isLeft = false %}
                {% for p in timeline %}
                    {% if isLeft %}
                    <div class="project-timeline timeline-left">
                        <div class="card gradient-custom border-0">
                    {% else %}
                    <div class="project-timeline timeline-right">
                        <div class="card gradient-custom-2 border-0">
                    {% endif %}
                            <div class="card-body p-4">
                                <i class="fa-solid fa-code-merge fa-2x mb-3"></i>
                                {% assign p_sem = p.semester_key %}
                                {% if p_sem contains "fa" %}
                                    {% assign p_sem = p_sem | replace: "fa", "Fall 20" %}
                                {% else %}
                                    {% assign p_sem = p_sem | replace: "sp", "Spring 20" %}
                                {% endif %}
                                <h3 class="text-white">{{ p.title }}</h3>
                                <p class="text-white mb-2">{{ p_sem }}</p>
                                {% if p.url == page.url %}
                                    <div class="d-flex align-items-center mb-4">
                                        <i class="fa-solid fa-star text-warning pe-2"></i>
                                        <p class="text-white fst-italic">You are here!</p>
                                    </div>
                                {% endif %}
                                {% if p.logo-thumb.size > 4 %}
                                    {% if p.collection contains "itec" %}
                                        <img src="/{{ p.collection }}/images/{{ p.logo-full }}"
                                            class="img-fluid rounded mb-4 shadow" alt="{{ p.title }}">
                                    {% else %}
                                        <img src="/projects/{{ p.course_key }}/{{ p.semester_key }}/images/{{ p.logo-full }}"
                                            class="img-fluid rounded mb-4 shadow" alt="{{ p.title }}">
                                    {% endif %}
                                {% endif %}
                                <p class="bg-white rounded p-3">{{ p.description }}</p>
                                {% unless p.url == page.url %}
                                    <div class="d-flex justify-content-center mt-4">
                                        <a href="{{ p.url }}" class="btn btn-tag btn-sm bg-light border-0 text-wrap" style="text-decoration: none; font-size: 14px; color: #006644; font-weight: 450;">Learn More</a>
                                    </div>
                                {% endunless %}
                            </div>
                        </div>
                    </div>
                    {% if isLeft %}
                        {% assign isLeft = false %}
                    {% else %}
                        {% assign isLeft = true %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    <div class = "m-0-auto mt-5 mb-5" style = "width: 15%;">
        <button class="ggc-btn-d" type = "button"
            style = "width: 100%;"
            data-toggle = "collapse"
            data-target = "#pinned-accordion"
            aria-expanded = "false"
            aria-controls = "pinned-news"
            onclick = "window.location.href='../'">
            <span class = "text">
                Back
            </span>
        </button>
    </div>


</div>

<!-- lightgallery -->
<script src="https://cdn.jsdelivr.net/lightgallery/1.3.7/js/lightgallery.min.js"></script>
<script src="https://cdn.jsdelivr.net/g/lg-zoom"></script>

<script type="text/javascript">
    $(document).ready(function() {
        // Slideshow setup
        $("#slideshow > div:gt(0)").hide();

        setInterval(function() {
            $('#slideshow > div:first')
                .fadeOut(1000)
                .next()
                .fadeIn(1000)
                .end()
                .appendTo('#slideshow');
        }, 3000);

        // LightGallery
        $("body").lightGallery({
            zoom: true,
            selector: 'a#lightgallery',
            selectWithin: 'body'
        });
    });
</script>
