---
layout: default
---

<h1 class="post-title">{{ page.title }}</h1>

{{ content }}

{% for project in page.projects %} 

<h2 class="project-title"><a href="{{project.demo-url}}">
    {{ project.name }} - {{ project.title }}</a></h2>

<img class="logo-thumb" src="{{ project.logo-thumb }}">

<p> Developed by <em>{{ project.members }}</em><br>
  Lead by <em><a href="{{ project.client-url }}">{{
      project.client }}</a></em>
  

<p> {{ project.description }}

<p> <em><a href="{{ project.repo-url }}">Source code</a></em>
    
{% endfor %}

