---
layout: main_page
---
{% assign sponsored_projects = site.projects
    | where: "sponsor_key", page.sponsor_key %}
{% for col in site.collections %}
    {% if col.label contains "itec" %}
        {% for proj in site[col.label] %}
            {% if proj.sponsor_key contains page.sponsor_key %}
                {% assign sponsored_projects = sponsored_projects
                    | push: proj %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

{% assign project_partners = "" | split: "," %}
{% for p in sponsored_projects %}
    {% for k in p.sponsor_key %}
        {% if k != page.sponsor_key %}
            {% assign project_partners = project_partners
                | push: k %}
        {% endif %}
    {% endfor %}
{% endfor %}
{% assign project_partners = project_partners | uniq %}


<div class="justify-content-center">
    <div class="col-lg-10 col-md-9 col-12 body_block align-content-center" style = "max-width: 100% !important;">
        <div class="profile-card">
            <!--img-->
            {% if page.header.size > 4 %}
            <div class="rounded-top-3" style="background-image: url(/assets/img/partners/{{ page.header }}); background-position: center; background-size: cover; background-repeat: no-repeat; height: 228px;"></div>
            {% else %}
            <div class="rounded-top-3" style="background-image: url(/assets/img/partners/GGC.jpg); background-position: center; background-size: cover; background-repeat: no-repeat; height: 228px;"></div>
            {% endif %}

            <div class="card-body p-md-5">
                <div class="d-flex flex-column gap-5">
                    <!--img-->
                    <div class="mt-n8">
                        {% if page.logo.size >4 %}
                        <img src="/assets/img/partners/{{ page.logo }}" alt="mentor 1" class="img-fluid rounded-4 mt-n8" id = "profile-card-picture" style = "object-fit: cover;">
                        {% else %}
                                <img src="/assets/img/partners/GGC.jpg" alt="mentor 1" class="img-fluid rounded-4 mt-n8" id = "profile-card-picture" style = "object-fit: cover;">
                        {% endif %}
                    </div>
                    <div class="d-flex flex-column gap-5">
                        <div class="d-flex flex-column gap-3">
                            <div class="d-flex flex-md-row flex-column justify-content-between gap-2">
                                <!--heading-->
                                <div class = "mb-2 mb-sm-0">
                                    <h1 class="mb-0" style = "font-size: 32px; color: #fff;">{{ page.title }}</h1>
                                    <!--content-->
                                    <div class="d-flex flex-lg-row flex-column gap-2" style = "font-family: 'Inter', sans-serif; margin-top: 16px;">
                                        <small class="fw-medium text-gray-800" style = "color: #fff !important; font-size: 16px;">{{ page.industry }}</small>
                                        <small class="fw-bold profile-highlights me-auto" style = "background-color: black; border-radius: 16px; padding: 0 10px; font-size: 16px;">{{ page.sponsor_type }}</small>
                                    </div>
                                </div>
                                <!--button-->
                                {% if page.website.size > 0 or page.contact_email.size > 0 %}
                                    <div class="d-flex flex-row flex-wrap gap-3 align-items-center">
                                        {% if page.website.size > 0 %}
                                            <a href="{{ page.website }}" target = "_blank"
                                                class="btn btn-outline-white">
                                                Website
                                            </a>
                                        {% endif %}
                                        {% if page.contact_email.size > 0 %}
                                            <a href="mailto:{{ page.contact_email }}" class="btn btn-outline-white">Contact</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="d-flex flex-md-row flex-column gap-md-4 gap-2">
                                <div class="d-flex flex-row gap-2 align-items-center lh-1 profile-metrics">
                                    <!--icon-->
                                    <span class = "bg-dark-green rounded p-1">
                                        <i class = "fa-solid fa-star text-warning"></i>
                                    </span>
                                    <span class = "text-light" style = "font-size: 18px;">
                                        <!--text-->
                                        {% assign total_students = 0 %}
                                        {% for p in sponsored_projects %}
                                            {% for s in site.students %}
                                                {% for k in s.project_key %}
                                                    {% if k == p.project_key %}
                                                        {% assign total_students = total_students
                                                            | plus: 1 %}
                                                    {% endif %}
                                                {% endfor %}
                                            {% endfor %}
                                        {% endfor %}
                                        <span style = "color: #fff !important; font-size: 20px; font-weight: 800;">{{ total_students }}</span>
                                        {% unless page.sponsor_type contains "Client" %}
                                            {{ "Students Mentored" }}
                                        {% else %}
                                            {{ "Student Partners" }}
                                        {% endunless %}
                                    </span>
                                </div>
                                <div class="d-flex flex-row gap-2 align-items-center lh-1 profile-metrics">
                                    <!--icon-->
                                    <span class = "bg-dark-green rounded p-1">
                                        <i class="fa-solid fa-hand-holding-heart text-white"></i>
                                    </span>
                                    <span class = "text-light" style = "font-size: 18px;">
                                        <!--text-->
                                        <span style = "color: #fff !important; font-size: 20px; font-weight: 800;">{{ project_partners.size }}</span>
                                        {{ "Total Collaborators" }}
                                    </span>
                                </div>
                                <div class="d-flex flex-row gap-2 align-items-center lh-1 profile-metrics">
                                    <!--icon-->
                                    <span class = "bg-dark-green rounded p-1">
                                        <i class="fa-solid fa-user-group text-primary"></i>
                                    </span>
                                    <!--text-->
                                    <span class = "text-light" style = "font-size: 18px;">
                                        <span style = "color: #fff !important; font-size: 20px; font-weight: 800;">{{ sponsored_projects.size }}</span>
                                        Projects
                                    </span>
                                </div>
                                <div class="d-flex flex-row gap-2 align-items-center lh-1 profile-metrics">
                                    <!--icon-->
                                    <span class = "bg-dark-green rounded p-1">
                                        <i class = "fa-solid fa-location-dot text-danger"></i>
                                    </span>
                                    <!--text-->
                                    <span class = "text-light" style = "font-size: 18px;">{{ page.location}}</span>
                                </div>
                            </div>
                        </div>
                        {% if page.skills.size > 0 %}
                        <div class="d-flex flex-column gap-2">
                            <!--heading-->
                            <h3 class="mb-0" style = "font-size: 20px; font-weight: 600px; font-family: 'Inter', sans-serif; color: #fff;">Interests</h3>

                            <div class="gap-2 d-flex flex-wrap">
                                {% for skill in page.skills %}
                                    <span class="badge rounded-pill text-success-emphasis bg-success-subtle border border-success align-items-center profile-highlights ps-2 pe-3 text-wrap" style = "font-size: 14px;">
                                        <span class = "mx-1">
                                            <i class="fa-solid fa-web-awesome"></i>
                                        </span>
                                        {{ skill }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if page.highlights.size > 0 %}
                        <div class="d-flex flex-column gap-2">
                            <!--heading-->
                            <h3 class="mb-0" style = "font-size: 20px; font-weight: 600px; font-family: 'Inter', sans-serif; color: #fff;">Highlights</h3>
                            <div class="gap-2 d-flex flex-wrap">
                                {% for highlight in page.highlights %}
                                    <span class="badge rounded-pill text-success-emphasis bg-success-subtle border border-success align-items-center profile-highlights ps-2 pe-3 text-wrap" style = "font-size: 14px;">
                                        <span class = "mx-1">
                                            <i class="fa-solid fa-medal"></i>
                                        </span>
                                        {{ highlight }}
                                    </span>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                        {% if sponsored_projects.size > 0 %}
                            <div class="js-collapsible-list">
                                <div class="d-flex flex-column gap-2">
                                    <!--heading-->
                                    <h3 class="mb-0" style="font-size: 20px; font-weight: 600px; font-family: 'Inter', sans-serif; color: #fff;">Project History</h3>

                                    <div class="gap-2 d-flex flex-wrap" data-role="list">
                                        {% for p in sponsored_projects %}
                                            <a href="{{ p.url }}" class="btn btn-tag btn-sm bg-light border-0 text-wrap js-movable" style="text-decoration: none; font-size: 14px; color: #006644; font-weight: 450;">{{ p.title }}</a>
                                        {% endfor %}
                                        <a class="d-none btn btn-tag btn-sm bg-warning border-0 text-wrap bg-focus-unset" data-bs-toggle="collapse" href="#historyCollapse" role="button" aria-expanded="false" aria-controls="historyCollapse" data-role="toggle" style="text-decoration: none; font-size: 14px; color: #000000; font-weight: 450;">
                                            See More
                                        </a>
                                    </div>
                                    <div class="collapse" id="historyCollapse" data-role="collapse">
                                        <div class="gap-2 d-flex flex-wrap" data-role="collapse-inner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="js-collapsible-list">
                                <div class="d-flex flex-column gap-2">
                                    <!--heading-->
                                    <h3 class="mb-0" style = "font-size: 20px; font-weight: 600px; font-family: 'Inter', sans-serif; color: #fff;">Collaborators</h3>

                                    <div class="gap-2 d-flex flex-wrap" data-role="list">
                                        {% for p in project_partners %}
                                            {% assign tmp = site.partners | where: "sponsor_key", p %}
                                            <a href="{{ tmp[0].url }}" class="btn btn-tag btn-sm bg-light border-0 text-wrap js-movable" style="text-decoration: none; font-size: 14px; color: #006644; font-weight: 450;">{{ tmp[0].title }}</a>
                                        {% endfor %}
                                        <a class="d-none btn btn-tag btn-sm bg-warning border-0 text-wrap bg-focus-unset" data-bs-toggle="collapse" href="#collaboratorsCollapse" role="button" aria-expanded="false" aria-controls="collaboratorsCollapse" data-role="toggle" style="text-decoration: none; font-size: 14px; color: #000000; font-weight: 450;">
                                            See More
                                        </a>
                                    </div>
                                    <div class="collapse" id="collaboratorsCollapse" data-role="collapse">
                                        <div class="gap-2 d-flex flex-wrap" data-role="collapse-inner">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
                {% assign page_content = page.content | strip_newlines | strip %}
                {% assign not_blank = false %}
                {% if page_content != "" and page_content != nil %}
                    {% assign not_blank = true %}
                {% endif %}
                {% if not_blank
                    or page.linkedin or page.git or page.x or page.instagram
                    or page.facebook %}
                    <br>
                    <br>
                    <h3 style = "color: white;">About me</h3>
                    <hr style = "border: none; border: 1px solid rgb(24, 24, 28); width: 30%; text-align: left; margin: 2% 0;">
                    <div style = "background-color: white; border-radius: 16px;
                        padding: 22px; margin-top: 32px;box-shadow: 0 10px 7px 7px rgba(51, 51, 51, 0.62);">
                        {% if not_blank %}
                            {{ content }}
                        {% endif %}
                        {% if page.linkedin.size > 0 or page.git.size > 0
                            or page.x.size > 0 or page.facebook.size > 0
                            or page.instagram.size > 0 %}
                        <div class="bg-body-tertiary text-center text-white">
                            <!-- Grid container -->
                            <div class="container p-4 pb-0">
                                <!-- Section: Social media -->
                                <section class="mb-0">
                                    {% if page.linkedin.size > 0 %}
                                    <!-- Linkedin -->
                                    <a
                                      data-mdb-ripple-init class="bs-btn text-white btn-floating m-1"
                                      style="background-color: #0082ca;"
                                      href="{{ page.linkedin }}"
                                      role="button"
                                      ><i class="fab fa-linkedin-in"></i
                                    ></a>
                                    {% endif %}
                                    {% if page.git.size > 0 %}
                                    <!-- Github -->
                                    <a
                                      data-mdb-ripple-init class="bs-btn text-white btn-floating m-1"
                                      style="background-color: #333333;"
                                      href="{{ page.git }}"
                                      role="button"
                                      ><i class="fab fa-github"></i
                                    ></a>
                                    {% endif %}
                                    {% if page.x.size > 0 %}
                                    <!-- X -->
                                    <a
                                      data-mdb-ripple-init class="bs-btn text-white btn-floating m-1"
                                      style="background-color: #55acee;"
                                      href="{{ page.x }}"
                                      role="button"
                                      ><i class="fab fa-twitter"></i
                                    ></a>
                                    {% endif %}
                                    {% if page.instagram.size > 0 %}
                                    <!-- Instagram -->
                                    <a
                                      data-mdb-ripple-init class="bs-btn text-white btn-floating m-1"
                                      style="background-color: #ac2bac;"
                                      href="{{ page.instagram }}"
                                      role="button"
                                      ><i class="fab fa-instagram"></i
                                    ></a>
                                    {% endif %}
                                    {% if page.facebook.size > 0 %}
                                    <!-- Facebook -->
                                    <a
                                      data-mdb-ripple-init class="bs-btn text-white btn-floating m-1"
                                      style="background-color: #3b5998;"
                                      href="{{ page.facebook }}"
                                      role="button"
                                      ><i class="fab fa-facebook-f"></i
                                    ></a>
                                    {% endif %}
                                </section>
                                <!-- Section: Social media -->
                            </div>
                            <!-- Grid container -->
                        </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/misc/profiles.js" defer></script>
